$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $off-white;
  .banner {
    width: 100%;
    .banner-image {
      Img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
      }
      .title {
        padding: 3vmax 6vmax;
        .about {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .about-text {
            width: 55%;
            h1 {
              font-size: 48px;
              font-weight: 700;
              text-transform: uppercase;
              color: $black;
              text-shadow: 2.5px 2.5px $yellow;
              margin: 0;
            }
            p {
              padding-top: 1vmax;
              margin: 0;
            }
          }
          .about-video {
            width: 42.5%;
          }
        }
      }
    }
  }
  .body {
    background-color: $white;
    .missionSection {
      padding: 3vmax 6vmax;
      h2 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2px 2px $yellow;
        margin: 0;
      }
      p {
        padding-top: 1vmax;
        margin: 0;
      }
    }
    .visionSection {
      background-color: $off-white;
      padding: 3vmax 6vmax;
      h2 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2px 2px $yellow;
        margin: 0;
      }
      p {
        padding-top: 1vmax;
        margin: 0;
      }
    }
    .staff-section,
    .volunteer-section {
      padding: 3vmax 6vmax;
      &.staff-section {
        background-color: $white;
      }
      &.volunteer-section {
        background-color: $off-white;
      }
      h2 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2px 2px $yellow;
        margin: 0;
        padding: 0 0 3vmax;
      }
      .employee-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        .employees {
          width: 50%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-around;
          .employee {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            .img-container {
              position: relative;
              padding: 10px;
              img {
                display: block;
                margin: 0;
                box-shadow: 5px 5px $yellow;
              }
              .icon,
              .icon-two {
                background-color: $yellow;
                color: $black;
                padding: 10px;
                margin: 0;
                border-radius: 100px;
                position: absolute;
                cursor: pointer;
                left: 0;
                // filter: drop-shadow(2px 2px $white);
                &.icon {
                  top: 0;
                }
                &.icon-two {
                  top: 55px;
                }
              }
            }
            h2 {
              font-size: 20px;
              font-weight: 600;
              text-transform: uppercase;
              color: $black;
              text-shadow: 2px 2px $yellow;
              margin: 0;
              padding: 1vmax 0 0.5vmax 10px;
            }
            h3 {
              padding-left: 10px;
              font-size: 16px;
              color: $black;
              margin: 0;
            }
          }
        }
      }
    }
    .section-partners {
      padding: 3vmax 0 3vmax 6vmax;
      background-color: $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 3vmax 6vmax;
      flex-direction: column;
      width: 100%;
      h2 {
        color: $black;
        font-size: 32px;
        text-shadow: 2px 2px $yellow;
        text-transform: uppercase;
      }
      .partner-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 20%;
        img {
          margin-top: 1vh;
          margin-bottom: 0;
        }
      }
    }
    .section-report {
      padding: 3vmax 6vmax;
      background-color: $off-white;
      h2 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2px 2px $yellow;
        margin: 0;
      }
      p {
        padding: 1vmax 0 0 0;
        margin: 0;
      }
      .report-link {
        padding: 1vmax 0 0 0;
        margin: 0;
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

// Tablet styles
@media (max-width: 1024px) {
  .container {
    .banner {
      .banner-image {
        .title {
          padding: 3vmax 4vmax;
          .about {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .about-text {
              width: 100%;
              h1 {
                font-size: 40px;
                text-shadow: 2px 2px $yellow;
              }
            }
            .about-video {
              padding-top: 3vmax;
              width: 100%;
            }
          }
        }
      }
    }
    .body {
      .missionSection {
        padding: 3vmax 4vmax;
        h2 {
          font-size: 28px;
        }
      }
      .visionSection {
        padding: 3vmax 4vmax;
        h2 {
          font-size: 28px;
        }
      }
      .staff-section,
      .volunteer-section {
        padding: 3vmax 4vmax;
        h2 {
          font-size: 28px;
        }
      }
      .section-partners {
        h2 {
          font-size: 28px;
        }
      }
      .section-report {
        padding: 3vmax 4vmax;
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}

// Phone styles
@media (max-width: 768px) {
  .container {
    .banner {
      .banner-image {
        .title {
          .about {
            .about-text {
              h1 {
                font-size: 32px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .body {
      .missionSection {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      .visionSection {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      .staff-section,
      .volunteer-section {
        h2 {
          font-size: 24px;
        }
        .employee-row {
          flex-direction: column;
          .employees {
            width: 100%;
            padding: 1vmax 0;
            .employee {
              .img-container {
                padding: 5px;
                img {
                  box-shadow: 3px 3px $yellow;
                }
                a {
                  padding: 6.5px;
                }
              }
              h2 {
                font-size: 16px;
                padding: 1vmax 0 0.5vmax 6.5px;
              }
              h3 {
                padding-left: 6.5px;
                font-size: 12px;
              }
            }
          }
        }
      }
      .section-partners {
        h2 {
          font-size: 24px;
        }
        .partner-images {
          img {
            margin-top: 0;
          }
        }
      }
      .section-report {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
        .report-link {
          font-size: 14px;
        }
      }
    }
  }
}
