$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $off-white;
  .banner {
    width: 100%;
    .banner-image {
      Img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
      }
      .title {
        padding: 3vmax 6vmax;
        h1 {
          font-size: 56px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2.5px 2.5px $yellow;
          margin: 0;
        }
        p {
          padding-top: 1vmax;
          margin: 0;
        }
      }
    }
  }
  .body {
    background-color: $white;
    .missionSection {
      padding: 3vmax 6vmax;
      h2 {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2.5px 2.5px $yellow;
        margin: 0;
      }
      p {
        padding-top: 1vmax;
        margin: 0;
      }
    }
    .visionSection {
      background-color: $off-white;
      padding: 3vmax 6vmax;
      h2 {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2.5px 2.5px $yellow;
        margin: 0;
      }
      p {
        padding-top: 1vmax;
        margin: 0;
      }
    }
    .bio-section {
      h2 {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2.5px 2.5px $yellow;
        margin: 0;
        padding: 4vmax 6vmax 0;
      }
      .employee-row {
        padding: 4vmax 6vmax;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .employee {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .employee-image {
            width: 45%;
            img {
              margin: 0;
              box-shadow: 5px 5px $yellow;
            }
          }
          .employee-info {
            width: 50%;
            h2 {
              font-size: 28px;
              font-weight: 600;
              text-transform: uppercase;
              color: $black;
              text-shadow: 2px 2px $yellow;
              margin: 0;
              padding: 1vh 0;
            }
            h3 {
              font-size: 20px;
              font-weight: 600;
              text-transform: uppercase;
              color: $black;
              text-shadow: 2px 2px $yellow;
              margin: 0;
              padding: 1vh 0;
            }
            a {
              color: $black;
              .icon {
                filter: drop-shadow(2px 2px $yellow);
              }
            }
          }
        }
      }
    }
    .volunteer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4vmax 4vmax;
      background-color: $blue;
      .volunteer-bio {
        width: 100%;
        h2 {
          color: $yellow;
          font-size: 40px;
          font-weight: 600;
          text-shadow: 2.5px 2.5px $black;
          text-transform: uppercase;
          text-align: center;
          padding: 0;
          margin: 0;
          margin-bottom: 1vmax;
        }
        h3 {
          color: $yellow;
          font-size: 20px;
          font-weight: 500;
          text-shadow: 2px 2px $black;
          text-transform: uppercase;
          text-align: center;
        }
        p {
          color: $off-white;
          padding: 0;
          margin-top: 1vmax;
          margin: 0;
        }
      }
    }
    .section-partners {
      padding: 3vmax 0 3vmax 6vmax;
      background-color: $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 4vmax 6vmax;
      flex-direction: column;
      width: 100%;
      h2 {
        color: $black;
        font-size: 40px;
        text-shadow: 2.5px 2.5px $yellow;
        text-transform: uppercase;
      }
      .partner-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 20%;
        img {
          margin-top: 2vh;
        }
      }
    }
    .section-report {
      padding: 3vmax 6vmax;
      background-color: $off-white;
      h2 {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2.5px 2.5px $yellow;
        margin: 0;
      }
      p {
        padding: 1vmax 0 0 0;
        margin: 0;
      }
      .report-link {
        padding: 1vmax 0 0 0;
        margin: 0;
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

// Tablet styles
@media (max-width: 1024px) {
  .container {
    .banner {
      .banner-image {
        .title {
          h1 {
            padding: 4vmax 4vmax;
            font-size: 48px;
          }
        }
      }
    }
    .body {
      background-color: $white;
      p {
        padding: 4vmax 4vmax;
        font-size: 14px;
      }
      .section {
        h2 {
          padding: 2vmax 4vmax 0;
          font-size: 32px;
        }
        p {
          padding: 2vmax 4vmax;
        }
      }
      .employee-row {
        padding: 2vmax 4vmax 2vmax;
        .employee {
          .employee-info {
            h2 {
              font-size: 24px;
            }
            h3 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// Phone styles
@media (max-width: 768px) {
  .container {
    .banner {
      .banner-image {
        .title {
          h1 {
            font-size: 40px;
          }
        }
      }
    }
    .body {
      background-color: $white;
      p {
        font-size: 14px;
      }
      .section {
        h2 {
          font-size: 28px;
          text-shadow: 2px 2px $yellow;
        }
      }
      .employee-row {
        padding: 4vmax 4vmax 0;
        flex-direction: column;
        .employee {
          padding: 4vmax 0;
          flex-direction: row;
          justify-content: space-around;
          .employee-info {
            h2 {
              font-size: 20px;
              text-shadow: 1.5px 1.5px $yellow;
            }
            h3 {
              font-size: 14px;
              text-shadow: 1px 1px $yellow;
            }
          }
        }
      }
    }
  }
}
