$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680; // correct
// $yellow: #FFDD80; //mullaney

$blue: #3d80fc;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $off-white;
  .banner {
    width: 100%;
    height: 90vh;
    background-color: $yellow;
    overflow: hidden;
    .hero-image {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      div {
        width: 1400px;
      }
    }
    .hero {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      display: block;
      h1 {
        font-size: 56px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $black;
        text-shadow: 3px 3px $white;
        margin: 0;
        width: 650px;
        position: relative;
        bottom: 30vh;
        left: 37.5vw;
      }
    }
  }
  .section,
  .section-impact,
  .section-blue,
  .section-partners {
    padding: 3vmax 0 3vmax 6vmax;
    background-color: $off-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.section-impact {
      padding: 3vmax 6vmax 3vmax 0;
      justify-content: space-between;
      .section-impact-numbers {
        width: 50%;
        height: 250px;
        overflow: hidden;
        background-color: $yellow;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 4vmax;
        .impact-number {
          padding: 0.5vmax 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          h2 {
            color: $black;
            font-size: 32px;
            text-shadow: 2px 2px $off-white;
            text-transform: uppercase;
            margin: 0;
            padding: 0 1vmax 0 0;
          }
          h3 {
            color: $black;
            font-size: 24px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }
        }
      }
      .section-text {
        width: 45%;
        margin-right: 0;
      }
    }
    &.section-blue {
      padding: 3vmax 6vmax;
      width: 100%;
      background-color: $blue;
      flex-direction: column;
      h2 {
        color: $yellow;
        font-size: 32px;
        text-shadow: 2px 2px $black;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        color: $off-white;
        text-align: center;
      }
      .button {
        text-decoration: none;
        .button-background {
          background-color: $yellow;
          height: 40px;
          width: 150px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            color: $black;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
    &.section-partners {
      padding: 3vmax 6vmax;
      flex-direction: column;
      width: 100%;
      background-color: $white;
      h2 {
        color: $black;
        font-size: 32px;
        text-shadow: 2px 2px $yellow;
        text-transform: uppercase;
        text-align: center;
      }
      .partner-images {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        img {
          padding: 2rem;
        }
      }
    }
    .section-text {
      width: 45%;
      margin-right: 6vmax;
      h2 {
        color: $black;
        font-size: 32px;
        text-shadow: 2px 2px $yellow;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        padding: 0;
      }
    }
    .section-image {
      width: 55%;
      padding-right: 6vmax;
    }
  }
  .section-odd {
    padding: 3vmax 6vmax 3vmax 0;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .section-text {
      width: 45%;
      margin-left: 6vmax;
      h2 {
        color: $black;
        font-size: 32px;
        text-shadow: 2px 2px $yellow;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        padding: 0;
      }
    }
    .section-image {
      width: 55%;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .banner {
      height: 95vh;
      .hero {
        h1 {
          font-size: 48px;
          width: 550px;
          bottom: 25vh;
          left: 25vw;
        }
      }
    }
  }
  .section,
  .section-impact,
  .section-blue,
  .section-partners {
    padding: 3vmax 0 3vmax 4vmax;
    &.section-impact {
      padding: 3vmax 4vmax 3vmax 0;
    }
    &.section-blue {
      padding: 3vmax 4vmax;
      h2 {
        font-size: 28px;
      }
    }
    &.section-partners {
      padding: 3vmax 4vmax;
      h2 {
        font-size: 28px;
      }
    }
    .section-text {
      margin-right: 4vmax;
      h2 {
        font-size: 28px;
      }
    }
    .section-image {
      padding-right: 4vmax;
    }
  }
  .section-odd {
    padding: 3vmax 4vmax 3vmax 0;
    .section-text {
      margin-left: 4vmax;
      h2 {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .banner {
      .hero-image {
        div {
          width: 1250px;
          position: relative;
          left: 100px;
        }
      }
      .hero {
        h1 {
          font-size: 40px;
          text-shadow: 2px 2px $white;
          width: 475px;
          position: relative;
          bottom: 30vh;
          left: 27.5vw;
        }
      }
    }
    .section,
    .section-impact,
    .section-blue,
    .section-partners {
      padding: 3vmax 4vmax;
      flex-direction: column-reverse;
      &.section {
        width: 100%;
        flex-direction: column;
        .section-text {
          width: 100%;
          margin: 0;
          h2 {
            font-size: 28px;
            text-shadow: 2px 2px $yellow;
          }
          p {
            font-size: 14px;
          }
        }
      }
      &.section-impact {
        flex-direction: column;
        padding: 0;
        .section-impact-numbers {
          width: 100%;
          align-items: center;
          padding-right: 0;
        }
        .section-text {
          width: 100%;
          padding: 3vmax 4vmax;
          h2 {
            font-size: 28px;
            text-shadow: 2px 2px $yellow;
          }
          p {
            font-size: 14px;
          }
        }
        .section-image {
          padding: 0;
          margin-bottom: 3vmax;
        }
      }
      &.section-blue {
        padding: 3vmax 4vmax;
        h2 {
          font-size: 28px;
          text-shadow: 2px 2px $black;
        }
        p {
          font-size: 14px;
        }
        .button {
          .button-background {
            p {
              color: $black;
              font-size: 14px;
              font-weight: 500;
              margin: 0;
            }
          }
        }
      }
      &.section-partners {
        padding: 3vmax 4vmax;
        h2 {
          font-size: 28px;
          text-shadow: 2px 2px $yellow;
        }
        p {
          font-size: 14px;
        }
      }
      .section-text {
        width: 100%;
        margin: 0;
        h2 {
          font-size: 28px;
          text-shadow: 2px 2px $yellow;
        }
        p {
          font-size: 14px;
        }
      }
      .section-image {
        width: 100%;
        padding: 0;
        margin-bottom: 3vmax;
      }
    }
    .section-odd {
      width: 100%;
      padding: 3vmax 4vmax;
      flex-direction: column-reverse;
      .section-text {
        width: 100%;
        margin: 0;
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
      }
      .section-image {
        width: 100%;
        margin-bottom: 4vmax;
      }
    }
  }
}

@media (max-width: 630px) {
  .container {
    .banner {
      .hero {
        h1 {
          left: 5vw;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    .banner {
      .hero {
        h1 {
          font-size: 32px;
          width: 400px;
          left: 7.5vw;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    .banner {
      .hero {
        h1 {
          font-size: 28px;
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .container {
    .banner {
      .hero-image {
        div {
          width: 1050px;
        }
      }
      .hero {
        h1 {
          left: 2.5vw;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    .banner {
      .hero {
        h1 {
          font-size: 24px;
          width: 300px;
          left: 2.5vw;
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .container {
    .banner {
      .hero {
        h1 {
          left: 0;
        }
      }
    }
  }
}
