$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $off-white;
  .banner {
    width: 100%;
    .banner-image {
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
      }
      .title {
        padding: 3vmax 6vmax;
        h1 {
          font-size: 56px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2.5px 2.5px $yellow;
          margin: 0;
        }
        p {
          padding-top: 1vmax;
          margin: 0;
        }
      }
    }
  }
  .section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .section-text {
      width: 60%;
      h2 {
        padding: 3vmax 6vmax 0 6vmax;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2.5px 2.5px $yellow;
        margin: 0;
      }
      p {
        padding: 1vmax 6vmax 3vmax 6vmax;
        margin: 0;
      }
    }
    .section-impact {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: $yellow;
      .section-impact-numbers {
        width: 20%;
        height: 55px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        h2 {
          font-size: 40px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2.5px 2.5px $off-white;
          margin: 0 2vw;
          padding: 0;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  .projects {
    padding: 3vmax 6vmax;
    background-color: $white;
    h2 {
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      color: $black;
      text-shadow: 2px 2px $yellow;
      margin: 0;
      padding: 0;
      padding-top: 1vmax;
    }
    p {
      padding-top: 1vmax;
      margin: 0;
    }
  }
  .covid {
    width: 100%;
    padding: 3vmax 6vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $white;
    .covid-text {
      width: 100%;
      h2 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        text-shadow: 2.5px 2.5px $yellow;
        margin: 0;
      }
      p {
        padding-top: 1vmax;
        margin: 0;
      }
    }
  }
}
// Tablet styles
@media (max-width: 1024px) {
  .container {
    .banner {
      .banner-image {
        h1 {
          padding: 4vmax 4vmax 0;
          font-size: 40px;
          text-shadow: 2.5px 2.5px $yellow;
        }
        p {
          padding: 2vmax 4vmax 2vmax 4vmax;
          font-size: 14px;
        }
      }
    }
    .section {
      .section-text {
        h2 {
          padding: 2vmax 4vmax 0 4vmax;
          font-size: 32px;
          text-shadow: 2px 2px $yellow;
        }
        p {
          padding: 2vmax 4vmax 2vmax 4vmax;
          font-size: 14px;
        }
      }
      .section-impact {
        .section-impact-numbers {
          h2 {
            font-size: 32px;
            text-shadow: 2px 2px $yellow;
          }
          h3 {
            font-size: 14px;
          }
        }
      }
    }
    .projects {
      padding: 4vmax;
      p {
        font-size: 14px;
      }
    }
  }
  .covid {
    .covid-text {
      h2 {
        padding: 2vmax 4vmax 0 4vmax;
        font-size: 32px;
        text-shadow: 2px 2px $yellow;
      }
      p {
        padding: 2vmax 4vmax 2vmax 4vmax;
        font-size: 14px;
      }
    }
  }
}

// Phone styles
@media (max-width: 767px) {
  .container {
    .banner {
      .banner-image {
        h1 {
          font-size: 40px;
          text-shadow: 2.5px 2.5px $yellow;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .section {
      padding-bottom: 0;
      flex-direction: column;
      .section-text {
        width: 100%;
        h2 {
          padding: 2vmax 4vmax 0;
          font-size: 32px;
          text-shadow: 2px 2px $yellow;
        }
        p {
          font-size: 14px;
          padding: 2vmax 4vmax;
        }
      }
      .section-impact {
        width: 100%;
        align-items: center;
        .section-impact-numbers {
          height: 50px;
          justify-content: center;
          h2 {
            font-size: 32px;
            text-shadow: 2px 2px $off-white;
          }
          h3 {
            font-size: 14px;
          }
        }
      }
    }
    .projects {
      padding: 2vmax 6vmax;
      p {
        font-size: 14px;
      }
    }
  }
}
