$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

div {
    h1 {
      padding: 2vmax 8vmax;
      font-size: 100px;
      font-weight: 700;
      text-transform: uppercase;
      color: $black;
      text-shadow: 2.5px 2.5px $yellow;
      margin: 0;
    }
}


@media (max-width: 1024px) {
  div {
    h1 {
      font-size: 12px;
  }
  }
}
