$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $off-white;
  .banner {
    width: 100%;
    .banner-image {
      width: 100%;
      img {
        max-width: 100%;
        margin: 0;
      }
      .title {
        h1 {
          padding: 3vmax 6vmax 0;
          font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2.5px 2.5px $yellow;
          margin: 0;
        }
        p {
          padding: 2vmax 6vmax 3vmax 6vmax;
          margin: 0;
        }
      }
    }
  }
  .body {
    background-color: $white;
    .section,
    .section-donate {
      background-color: $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &.section-donate {
        align-items: flex-start;
      }
      .section-text {
        padding: 3vmax 6vmax;
        width: 55%;
        h2 {
          font-size: 32px;
          font-weight: 600;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2px 2px $yellow;
          padding-bottom: 1vmax;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
      .section-image {
        width: 45%;
        padding: 3vmax 6vmax 3vmax 0;
        img {
          margin: 0;
        }
      }
      .donate-section {
        padding: 3vmax 6vmax 3vmax 0;
        width: 45%;
        h2 {
          font-size: 32px;
          font-weight: 600;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2px 2px $yellow;
          padding-bottom: 1vmax;
          margin: 0;
        }
        .donate-form {
          width: 100%;
          margin: 0;
        }
      }
    }
    .section-even {
      background-color: $off-white;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      .section-text {
        padding: 3vmax 6vmax;
        width: 55%;
        h2 {
          font-size: 32px;
          font-weight: 600;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2px 2px $yellow;
          padding-bottom: 1vmax;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
      .section-image {
        width: 45%;
        padding: 3vmax 0 3vmax 6vmax;
        img {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .banner {
      .banner-image {
        .title {
          h1 {
            padding: 3vmax 4vmax 0;
            font-size: 40px;
            text-shadow: 2px 2px $yellow;
          }
          p {
            padding: 2vmax 4vmax 3vmax 4vmax;
          }
        }
      }
    }
    .body {
      .section {
        .section-text {
          padding: 3vmax 4vmax;
          h2 {
            font-size: 28px;
          }
          .section-image {
            padding: 3vmax 4vmax 3vmax 0;
            img {
              margin: 0;
            }
          }
          .donate-section {
            padding: 3vmax 4vmax 3vmax 0;
            h2 {
              font-size: 28px;
            }
          }
        }
        .section-even {
          .section-text {
            padding: 3vmax 4vmax;
            h2 {
              font-size: 28px;
            }
          }
          .section-image {
            padding: 3vmax 0 3vmax 4vmax;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .banner {
        .banner-image {
          .title {
            h1 {
              font-size: 32px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
      .body {
        .section,
        .section-donate {
          flex-direction: column-reverse;
          &.section-donate {
            flex-direction: column;
            align-items: center;
          }
          .section-text {
            padding: 3vmax 4vmax;
            width: 100%;
            h2 {
              font-size: 28px;
            }
            p {
              font-size: 14px;
            }
          }
          .section-image {
            padding: 3vmax 4vmax 0;
            width: 100%;
          }
          .donate-section {
            padding: 3vmax 4vmax 0;
            width: 100%;
            h2 {
              font-size: 28px;
            }
          }
        }
        .section-even {
          flex-direction: column-reverse;
          .section-text {
            padding: 3vmax 4vmax;
            width: 100%;
            h2 {
              font-size: 28px;
            }
            p {
              font-size: 14px;
            }
          }
          .section-image {
            width: 100%;
            padding: 3vmax 4vmax 0;
          }
        }
      }
    }
  }
}
