$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $off-white;
  .banner {
    width: 100%;
    .banner-image {
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
      }
    }
    .body {
      background-color: $white;
      width: 100%;
      display: flex;
      flex-direction: row;
      .title {
        width: 50%;
        h1 {
          padding: 3vmax 6vmax;
          font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2.5px 2.5px $yellow;
          margin: 0;
        }
        p {
          padding: 0 6vmax 2vmax;
          margin: 0;
        }
      }
      .donate-section {
        width: 50%;
        .donate-form {
          height: 800px !important;
          width: 100%;
          padding: 3vmax 6vmax;
          margin: 0;
        }
      }
    }
    .body-monthly {
      background-color: $white;
      width: 100%;
      display: flex;
      flex-direction: column;
      .content {
        // width: 100%;
        flex-direction: row;
        h1 {
          padding: 3vmax 6vmax;
          font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
          text-shadow: 2.5px 2.5px $yellow;
          margin: 0;
        }
        p {
          padding: 0 6vmax 2vmax;
          margin: 0;
        }
      }
      .tier-images {
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        img {
          padding: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .banner {
      .body {
        .title {
          h1 {
            font-size: 40px;
            text-shadow: 2px 2px $yellow;
            padding: 3vmax 4vmax;
          }
          p {
            padding: 0 4vmax 2vmax;
          }
        }
        .donate-section {
          width: 50%;
          .donate-form {
            height: 800px !important;
            padding: 3vmax 4vmax;
            margin: 0;
          }
        }
      }
      .body-monthly {
        .title {
          h1 {
            font-size: 40px;
            text-shadow: 2px 2px $yellow;
            padding: 3vmax 4vmax;
          }
          p {
            padding: 0 4vmax 2vmax;
          }
        }
        .donate-section {
          .donate-form {
            height: 800px !important;
            width: 100%;
            padding: 3vmax 4vmax;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .banner {
      .body {
        flex-direction: column;
        .title {
          width: 100%;
          h1 {
            font-size: 32px;
          }
          p {
            font-size: 14px;
          }
        }
        .donate-section {
          width: 100%;
        }
      }
      .body-monthly {
        flex-direction: column;
        .title {
          width: 100%;
          h1 {
            font-size: 32px;
          }
          p {
            font-size: 14px;
          }
        }
        .donate-section {
          width: 100%;
        }
      }
    }
  }
}
