$font: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$white: #fff;
$black: #000;
$off-white: #F7F7F7;
$yellow: #FFE680;
$blue: #3D80FC;

.footer {
  padding: 2rem 7.5rem 0;
  height: 42.5vh;
  background-color: $yellow;
  .footer-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .section {
      width: 25%;
      h1 {
        .title {
          color: $black;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
      p {
        color: $black;
      }
    }
    nav {
      .nav-list {
        list-style-type: none;
        .nav-item {
          color: $black;
          font-size: 1rem;
          font-weight: 700;
          text-decoration: none;
        }
        .nav-item:hover{
          text-decoration: underline;
        }     
      }
    }
    div {
      h2 {
        color: $black;
        font-size: 1rem;
        margin-bottom: .25em;
      }
      p {
        color: $black;
        font-size: 1rem;
        margin-bottom: .125rem;
        .last-item {
          margin-bottom: .5rem;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        a {
          color: $black;
        }
      }
    }
  }
  .tos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 3rem;
    .tos-text, p {
      color: $black;
      text-decoration: none;
      font-weight: 600;
      font-size: .75rem;
      margin: 0 .5rem;
    }
    .tos-text:hover{
      text-decoration: underline;
    }
  }
} 