$font: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$white: #fff;
$black: #000;
$off-white: #F7F7F7;
$yellow: #FFE680;
$blue: #3D80FC;

.footer {
  padding: 1.5vmax 8vmax;
  background-color: $yellow;
  .footer-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .section {
      width: 22.5%;
      .logo {
        margin-top: 2vh;
        width: 75%;
      }
      p {
        margin: 1vmin 0;
        color: $black;
        font-size: 14px;
      }
      h1 {
        // background-color: $blue;
        border-bottom: 1px solid $black;
        width: 100%;
        color: $black;
        font-size: 18px;
        line-height: 36px;
        font-weight: 600;
        text-align: left;
        margin: 0 0 10px 0;
        padding: 0;
      }
      h2 {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 10px 0;
        padding: 0;
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
          color: $black;
          margin: 0 10px 0 0;
        }
      }
      nav {
        .nav-list {
          list-style-type: none;
          li {
            padding: 0;
            margin: 0 0 10px 0;
            .nav-item {
              color: $black;
              font-size: 16px;
              font-weight: 500;
              text-decoration: none;
            }
          }
          .nav-item:hover{
            text-decoration: underline;
          }     
        }
      }
      Form {
        .newsletter {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          .input {
            width: 100%;
            margin-bottom: 10px;
          }
          .button {
            width: 35%;
            border-radius: 5px;
            background-color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p {
              margin: 5px 0;
              padding: 0;
              text-align: center;
              color: $white;
              font-weight: 500;
              cursor: pointer;
            }
          }
        }
        .message {
          font-size: 10px;
          padding-top: 5px;
        }
      }
    }
  }
  .tos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
    .tos-text, .tos-text-last {
      color: $black;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
      font-size: 10px;
      padding: 0 7.5px;
      border-right: 1px solid $black;
      &.tos-text-last {
        border: none;
      }
    }
    .tos-text:hover{
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    .footer-main {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .section {
        width: 100%;
        .logo {
          width: 40%;
        }
        h1 {
          margin-top: 25px;
        }
        nav {
          ul {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}