@import "~bootstrap/scss/bootstrap";

$font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$yellow: #ffe680;
$blue: #3d80fc;

.nav-background {
  position: sticky !important;
  top: 0;
  background-color: $yellow;
  padding: 2vmax 6vmax !important;
  width: 100%;
  .logo {
    width: 10%;
  }
  .icon {
    color: $black;
  }
  .nav-menu {
    flex-direction: column;
    .nav-contact {
      font-size: 14px;
      margin-bottom: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .iconHeader {
        color: $black;
        margin: 0;
        padding: 0;
        margin-left: 2vw;
        margin-right: 1vw;
      }
      a {
        color: $black;
      }
    }
    .nav {
      .nav-item {
        color: $black;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
      }
      .nav-item:hover {
        color: $black;
        font-weight: 500;
      }
      // .nav-item:active {
      //   color: $black;
      //   font-weight: 500;
      // }
      .nav-donate {
        color: $off-white;
        background-color: $black;
        border-radius: 50px;
        width: 100px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 1vw;
      }
      .nav-donate:hover {
        color: $off-white;
        font-weight: 500;
      }
    }
  }
}

//Tablet styles

@media (max-width: 1024px) {
  .nav-background {
    .nav-menu {
      .nav-contact {
        justify-content: flex-end;
      }
      .nav {
        justify-content: flex-end;
      }
    }
  }
}

// Phone styles
@media (max-width: 768px) {
  .nav-background {
    padding: 2vmax 4vmax !important;
    .nav-menu {
      .nav-contact {
        font-size: 12px;
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
      .nav {
        .nav-item {
          font-size: 14px;
        }
        .nav-donate {
          font-size: 14px;
        }
      }
    }
  }
}

// Old styles (saving for possible reuse I guess
// // Browser
// .header {
//   padding: 2vmax 6vmax;
//   background-color: $yellow;
//   z-index: 100;
//   .header-main {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     .logo-section {
//       width: 10%;
//     }
//     .nav-section {
//       width: 90%;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-end;
//       justify-content: center;
//       .nav-contact {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         margin-bottom: 10px;
//         border-bottom: 1px solid $black;
//         div {
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           justify-content: center;
//           .icon {
//             margin-left: 1vw;
//             margin-right: 0.5vw;
//             padding: 0;
//           }
//           p {
//             font-size: 14px;
//             margin: 0;
//             padding: 0;
//           }
//         }
//       }
//       div {
//         .nav-list {
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           justify-content: center;
//           list-style-type: none;
//           margin: 0;
//           li {
//             margin: 0;
//             padding: 0;
//           }
//           .nav-item {
//             color: $black;
//             text-transform: uppercase;
//             font-size: 16px;
//             margin-left: 2vw;
//             text-decoration: none;
//           }
//           .nav-item:hover {
//             text-decoration: underline;
//           }
//           .active-nav-item {
//             font-weight: 700;
//           }
//           .buttonBackground {
//             background-color: $black;
//             width: 100px;
//             border-width: 0;
//             border-radius: 3vw;
//             color: $off-white;
//             font-size: 14px;
//             text-transform: uppercase;
//             font-weight: 500;
//           }
//         }
//       }
//     }
//     .burger {
//       display: none;
//     }
//   }
// }

// // Tablet and Small Browser

// @media (max-width: 1024px) {
//   .header {
//     padding: 2vmax 4vmax;
//     .header-main {
//       .nav-section {
//         .nav-contact {
//           p {
//             margin-left: 1.5vw;
//           }
//         }
//         div {
//           .nav-list {
//             .nav-item {
//               font-size: 16px;
//               margin-left: 1.5vw;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// // Phone

// @media (max-width: 796px) {
//   .header {
//     .header-main {
//       .nav-section {
//         display: none;
//         width: 35%;
//         background-color: $yellow;
//         position: absolute;
//         right: 0;
//         height: 92vh;
//         top: 8vh;
//         justify-content: flex-start;
//         align-items: center;
//         .nav-contact {
//           flex-direction: column;
//           width: 75%;
//           div {
//             padding-top: 1vh;
//             padding-bottom: 1vh;
//             p {
//               padding: 0;
//             }
//           }
//         }
//         div {
//           .nav-list {
//             display: flex;
//             flex-direction: column;
//             li {
//               margin-top: 1vh;
//             }
//             .nav-item {
//               font-size: 16px;
//               margin-left: 1.5vw;
//             }
//           }
//         }
//       }
//     }
//     .burger {
//       display: block !important;
//     }
//   }
// }
